.section {
    border-bottom: 1px solid currentColor;
    padding-block: var(--space-xs);
}

.section .trigger {
    border: none;
    background-color: transparent;
    color: currentColor;
    padding: 0;
    cursor: pointer;
}

.section .trigger:is(:hover, :active) {
    color: var(--color-accent);
}

.section .trigger .icon {
    transition: transform 150ms ease;
}

.section .trigger[aria-expanded="true"] .icon {
   transform: rotate(45deg);
}
