<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="theme-color" content="#111316" />
    <meta name="author" content="Binyamin Green" />
    <meta name="publisher" content="Binyamin Aron Green" />
    <meta name="version" content="1.1.0" />
    <meta name="description" content="Just a bentcher. That's it." />

    <link rel="manifest" href="/manifest.webmanifest" />
    <link rel="icon" href="/assets/logo/logo-48.png" type="image/png" sizes="48x48" />
    <link rel="icon" href="/assets/logo/logo-96.png" type="image/png" sizes="96x96" />
    <link rel="icon" href="/assets/logo/logo.svg" type="image/svg+xml" />

    <title>Just Bentch - {{ text.title }}</title>

    <link rel="stylesheet" href="/fonts/noto-serif-hebrew/variable.css" />
    <link rel="stylesheet" href="/css/style.css" />

    <script type="module" src="/js/main.js"></script>
</head>
<body class="page">
    <main lang="he" dir="auto" class="document">
        <h1 class="title">{{ text.title }}</h1>
        {% for section in text.body %}
        <section>
            <h2>{{section.title}}</h2>
            <div class="content">
                {% for p in section.body %}
                <p>{{ p | safe }}</p>
                {% endfor %}
            </div>
        </section>
        {% endfor %}
    </main>
    <footer class="page-footer">
        <small>Made with love by <a href="https://binyam.in">Binyamin Green</a></small>
    </footer>
</body>
</html>